body{overflow:hidden;background:#212;color:#754654;margin:0}
*{font-family:'Trebuchet Ms',Helvetica,sans-serif}
span{display:inline-block}
p{margin:0}
a:hover{text-decoration:none;color:#fff}
a{color:#ccc}
input{font-size:17px;background:#545;color:#fff;border:2px solid;padding:0 2px;border-color:#434 #989 #989 #434}
h1{text-shadow:0 0 8px #a9a;color:#212;margin:0;padding:0.5em 0;font-size:2.75em}
#playlist-name{margin:0;font-size:1.25em;color:#fff;display:inline-block;padding:0 15px}

.star{color:#434 !important;cursor:pointer}
.star.active{color:#a89 !important}
.del:hover{color:#f89 !important}

.track{width:0;white-space:normal;position:relative;display:inline-block;margin:0;text-align:center;height:12em;color:#ccc;vertical-align:top;background:#434;box-shadow:0 0 15px 5px #212}
.track img.thumb{width:75px;vertical-align:bottom}
.track a{display:block;text-decoration:none}
.track a.image{display:inline-block}

#timeline{position:relative;vertical-align:top;z-index:18;white-space:nowrap;overflow:hidden;width:100%;background:#180018;height:20px;padding-top:0.5em}
#timeline .track{height:20px}
#timeline .title{font-size:12px;white-space:nowrap;cursor:default;width:90%;overflow:hidden}

.splash-container{cursor:pointer;border:2px solid #a9a;background:#434;margin:0 0.5em 0.5em 0;text-shadow:0 0 0;width:11.5em;text-align:center;vertical-align:top;padding-bottom:0.5em;position:relative}
.splash-container .play{position:absolute;top:8px;left:4px;display:none}
.splash-container p{font-size:0.85em;white-space:nowrap;overflow:hidden;margin:0 8px}
.splash-container small{font-size:0.7em}

#splash{text-align:center;color:#cbc;text-shadow:0px 0px 2px #212;font-size:1.25em}
#splash-history{margin-top:0.25em}
#splash input{font-size:1.5em;box-shadow:0 0 0px 2px #fff;margin:0.5em 0 1em 0}
#splash .track{height:9em;line-height:0;text-align:center;width:100%;margin-top:0.25em;box-shadow:none}
#splash .track img{width:5em;margin:0.25em;border:1px solid #878}

.main-app{display:none;width:100%}

#video-list {display:block}
#video-viewport{text-align:left;margin-left:80px}
#video-viewport .result img{background:#000;width:96px;height:72px}
.result{
  opacity:0.7;
  height:89px;
  overflow:hidden;
  background:#101;display:inline-block;width:260px;padding:0.4em;margin:0.25em;vertical-align:top;position:relative}
.result img{width:6em}
.result span{width:150px;padding-left:0.5em;font-size:0.8em;overflow:hidden;vertical-align:top;display:inline-block;text-align:left}
.result span a{
  color:#888897;
  text-decoration:none}
.result span a:hover{color:#ccccd5}
.result span em{display:block;color:#aaaab5;font-style:normal;font-weight:bold;font-size:1em;max-height:4em;overflow:hidden}
.result.playing{background:#323}
.result .timeline-container,
  .result .timeline-outer,
  .result .timeline-inner
  {position:absolute;bottom:0;left:0;width:260px}

.result .timeline-container {bottom:2px; left: 2px}
.result .timeline-inner {border: 9px solid #535;width:251px; height:9px}
.result .timeline-container.active{display:block}

.result.active{box-shadow:0 0 2px 3px #746;background:#1a041a}
.result .del{position:absolute;top:-1px;left:3px;font-size:1em;color:#323;cursor:pointer;font-weight:bold;}
.result .star{position:absolute;top:-2px;right:3px;font-size:1.25em;color:#323;cursor:pointer}

#scale{margin-left:40%;vertical-align:middle;font-size:85%}
#control{display:inline-block;position:relative}

/* The scrubbers */
.now{width:6px;background:#99a;z-index:45;display:inline-block;vertical-align:bottom;position:absolute}
#timeline-now{height:26px;margin-top:-3px}

/* This is based on the result height */
#result-now{height:93px;display:none;top:0}

#offscreen{position:absolute;top:-1000px;left:-1000px}
#search-results{width:162px}

.button{border:0;cursor:pointer;display:inline-block;font-size:13px;color:#ccc;background:transparent;padding:7px 9px}
.button:hover{text-shadow:0 0 1px white;color:#fff;box-shadow:0 0 5px -4px #888 inset, 0 0 10px -3px #888;border-radius:3px}
.button:active{color:#aaa}
.button.sunken{background:#323}

.hover{display:none;position:absolute;bottom:0.5em;left:1%;width:98%;opacity:0.9;text-align:center}
.hover a{cursor:pointer;display:inline-block;height:1.75em;font-size:1em;background:#434;box-shadow:1px 1px 1px #a9a inset;margin-bottom:0.03em;margin-left:1%;padding-top:0.20em;text-decoration:none;width:32%}
.hover a:active{box-shadow:-1px -1px 1px #a9a inset}
.hover a:hover{background-color:#656}

.resize{overflow-y:auto}

#normal-search{width:18em}
#search{position:absolute;right:6px}
#history{display:none}

#main-menu{position:fixed;top:0;right:0}
#header{background:#323;padding:6px}

.timeline-hover{color:#AAAAb5;width:150px;background:#212;padding:10px;box-shadow: 0 0 1px 1px #434 inset, 0 2px 2px 2px #101;border-radius:1px;font-size:12px }

#timeline .timeline-hover span a{cursor:pointer;margin:0.25em;box-shadow:1px 1px 1px #a9a inset;padding:3px;text-decoration:none}
#timeline .timeline-hover span a:active{box-shadow:-1px -1px 1px #a9a inset}
#timeline .timeline-hover a.close{position:absolute;top:4px;right:-2px;cursor:pointer;background:#101;width:15px;line-height:19px}
.timeline-hover span a:hover{background-color:#656}
.timeline-hover span{width:75px}
.timeline-hover p{text-align:left;margin-top:6px;text-align:left;font-size:11px;color:#888897}
.timeline-hover em{font-weight:bold;font-style:normal;color:#aaaab5}
.timeline-hover-wrap{padding:5px 0 0 0;position:absolute;display:none;top:20px;left:0}

.control-wrapper{background:#434;padding:2px;display:inline-block;border-radius:3px;box-shadow: 0 0 8px 1px #656 inset;height:30px;vertical-align:top}

#status {position:relative;overflow:hidden;height:30px;margin:-5px 0 -10px 0;padding:0 30px}
#status .mask{position:absolute;top:0;left:0;width:100%;height:100%;box-shadow: 0 0 25px 10px #323 inset;z-index:40}
#status .message{position:relative;color:white;font-weight:bold;z-index:35}

#deck-control{position:absolute;bottom:0}
#search-context{box-shadow:-1px -1px 3px 0px #212 inset,1px 1px 3px 0px #bab inset;padding:4px 9px;cursor:pointer;color:#dcd;display:none}

.scrubber{
  position:absolute;
  bottom:0;
  left:0;
  width:8px;
  height:27px;
  background:#99a;
}

#phantom-scrubber{
  background:transparent;
  box-shadow: 0 0 3px 2px #889
}

a{cursor:pointer}

#backupPlayer { 
  position: absolute;
  top: -10000px;
  left: -10000px;
}

#debug { 
  position: fixed;
  bottom: 0;
  right: 0;
  padding:0.75em 1em 0.15em;
  font-family: monospace;
  font-size: 12px;
  background: rgba(0, 7, 12, 0.75);
  color: #9b9;
  white-space: pre;
}

#volume button {
  line-height: 0;
  font-size: 1.7em;
  height: 34px;
  color: #fff;
}
