body{overflow:hidden;background:#212;color:#fff;margin:0}
*{font-family:'Trebuchet Ms',Helvetica,sans-serif}
span{display:inline-block}
p{margin:0}
.button:hover,a:hover{text-decoration:none;color:#000;background:#fff}
a:active{color:#000;background:#ccc}
a{color:#cccccf;text-decoration:none;cursor:pointer}
input{
  font-size:20px;
  background:#545;
  color:#fff;
  border:1px solid;
  padding:2px;
  border-color:#ccc
}
h1{text-shadow:0 0 8px #a9a;color:#212;margin:0;padding:0;font-size:2.75em}
#playlist-name{margin:0;display:inline-block}

.star{color:#434 !important;cursor:pointer}
.star.active{color:#a89 !important}

.track{width:0;white-space:normal;position:relative;display:inline-block;margin:0;text-align:center;height:12em;color:#ccc;vertical-align:top;background:#434;box-shadow:0 0 15px 5px #212}
.track img.thumb{width:75px;vertical-align:bottom}
.track a{display:block;text-decoration:none}
.track a.image{display:inline-block}
.track img{width:102px;height:77px;background:#000}

#lower{position:relative;vertical-align:top;z-index:18;white-space:nowrap;overflow:hidden;width:100%;background:#180018}
#deck-control{float: left;font-size:11px;color:#aaa;}

#deck-control .button { width: 65px; text-align: center}

#deck-control a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#deck-control #quality-up, #deck-control #quality-down { width: auto }
.splash-wrap {padding-right: 114px;overflow-hidden;}
.splash-container{
  display:inline-block;
  padding:6px;
  margin:6px 3px;
  border:2px solid #a9a;
  background:#434;
  width:300px;
  padding-right: 110px;
  overflow: hidden;
  vertical-align:top
}
.splash-container img{ 
  width: 100px;
  float: left;
}
.splash-container p{
  margin:0 -109px 0 auto;
  width:100%;
  float:right;
  font-size:0.85em;
}
.splash-container small{
  margin-top:0;
  display:block;
  font-size:0.7em
}

#splash{text-align:left;color:#cbc;font-size:1.25em;margin-left:2em}
#splash-history{margin-top:0.25em;text-align:left}
#splash input{font-size:1.5em;box-shadow:0 0 0px 2px #fff;margin:0}
#splash img{width:100px;margin:0 5px 0 0;border:1px solid #878;float:left}

.main-app{display:none;width:100%}

#video-list {
  display:block
}
#video-viewport{
  text-align:left;
  margin-left:0px
}
#video-viewport .result img{background:#000;width:96px;height:72px}
.result .thumbnail { padding: 1px; display: inline-block; line-height: 0 }
.result {
  height:89px;
  overflow:hidden;
  background:#101;
  display:inline-block;
  width:260px;
  padding:4px;
  margin:4px;
  vertical-align:top;
  position:relative
}
.result img{width:6em}
.result span{width:150px;padding-left:0;font-size:0.8em;overflow:hidden;vertical-align:top;display:inline-block;text-align:left}
.result span em{display:block;color:#aaaab5;font-style:normal;font-weight:bold;font-size:1em;max-height:4em;overflow:hidden}
.result span p>a{display:inline-block;font-size:11.5px;line-height:1.25em}
.result.playing{background:#323}
.result .timeline-container,
  .result .timeline-outer,
  .result .timeline-inner
  {position:absolute;bottom:0;left:0;width:260px}

.result .timeline-outer {opacity: 0.5}
.result .timeline-container {bottom:2px; left: 2px; display: none}
.result .timeline-inner {border: 9px solid #535;width:251px; height:9px}
.result .timeline-container.active{display:block}

.result.active{box-shadow:0 0 0 4px #746}
.result .remove{position:absolute;top:-1px;left:3px;font-size:1em;color:#323;cursor:pointer;font-weight:normal;}
.result .reload{position:absolute;top:-1px;left:25px;font-size:1.25em;color:#323;cursor:pointer;font-weight:normal}
.result .star{position:absolute;top:-2px;right:3px;font-size:1.25em;color:#323;cursor:pointer}

#control{display:inline-block;position:relative}

/* This is based on the result height */
#result-now{height:93px;display:none;top:0}

#offscreen1{
  position:fixed;
  bottom:0;
  left:0;
}
#offscreen{
  position:absolute;
  top:-10000px;
  left:-10000px;
}
#template { display: none }
#search-results{width:162px}

.button{border:0;cursor:pointer;display:inline-block;font-size:13px;color:#ccc;background:transparent;padding:7px 9px}
.button.sunken{background:#323}
.button.disabled{color:#555}
.button.disabled:hover{background:transparent;color:#555;cursor:default}

#search .button {
  font-size: 24px;
}

#clipboard-button.zeroclipboard-is-hover{cursor:pointer;background-color:#fff;color:#000}
#clipboard-button.zeroclipboard-is-active{cursor:pointer;background-color:#ccc}

.resize{overflow-y:auto}

#normal-search{width:18em}
#search{position:absolute;right:6px}
#history{display:none;text-align:center;}

#main-menu{position:fixed;top:0;right:0}
#header{background:#323;padding:6px}

.control-wrapper input {
  width: 400px;
}
.control-wrapper {
  float:right;
  display:inline-block; vertical-align:top
}

#status {
  position:relative;
  overflow:hidden;
  height:30px;
  margin:-5px 0 -10px 0;
  padding:0 30px
}
#status .mask{position:absolute;top:0;left:0;width:100%;height:100%;box-shadow: 0 0 25px 10px #323 inset;z-index:40}
#status .message{position:relative;color:white;font-weight:bold;z-index:35}

#search-context{box-shadow:-1px -1px 3px 0px #212 inset,1px 1px 3px 0px #bab inset;padding:4px 9px;cursor:pointer;color:#dcd;display:none}

.scrubber{
  position:absolute;
  bottom:0;
  left:0;
  width:8px;
  height:27px;
  background:#99a;
}

#phantom-scrubber{
  background:transparent;
  box-shadow: 0 0 3px 2px #889
}


#backupPlayer { 
  position: absolute;
  top: -10000px;
  left: -10000px;
}

#debug { 
  position: fixed;
  bottom: 0;
  right: 0;
  padding:0.75em 1em 0.15em;
  font-family: monospace;
  font-size: 12px;
  background: rgba(0, 7, 12, 0.75);
  color: #9b9;
  white-space: pre;
}

#header .controls a {
  font-size: 1.6em;
  padding: 0.1em 0.4em;
}

.hero-unit { margin-top:0;margin-bottom:2em; text-indent:1em }
.hero-unit h1{
  display: inline-block;
  margin:0 1em 0 0;
}
.hero-unit a { font-size: 1em;margin-left:2em;margin-bottom:2em;display:inline-block}

#clipboard-wrapper  {
  display:inline-block;
  position:relative;
}
#search-mobile { display: none }

#remove-name { 
  display: none
}
@media only screen and (max-device-width: 767px) {
  .controls { display: block }

  #status {
    position:absolute;top:-100000px;left:-10000px;
    width:0;height:0;font-size:0;display:none
  }
  #playlist-name,
  a.remove, a.reload, #reload,
  #edit-name,
  #clipboard-button,
  .controls .volume,
  #related,
  #use-internet,
  #clear-search,
  #initial-search
  { 
    display: none 
  }
  #splash { margin: 0 }
  .splash-container { max-width: 60%;margin-left:2% }
  .track{box-shadow:0}

  .hero-unit { text-indent: 0; text-align: center;margin-bottom:1em; }
  .hero-unit h1{ margin: 0}
  #previous-track,
  #pause-play,
  #next-track { padding:0 0; width: 33%;text-align: center }
  #header .controls a { padding: 3px 0 }
  #header { padding: 0 }

  #normal-search{width:98%;margin:0}
  .timeline-container { height: 100%;bottom:0;left:0; }
  .scrubber,
  .result .timeline-inner {height: 100%;border:0  }

  .result .timeline-outer {opacity: 1}

  #search { position: relative;width: 100%;margin:0;right:0;display:none }
  #search-mobile.button { display: inline-block;width:20px }
  .result span{width:100%;padding:3px;}

  .result {
    height:34px;
    padding:4px;
    margin:2px 4px;
  }
  .result .thumbnail { display: none }
  #daebug { display: none }
}

@media only screen and (min-device-width: 768px) {
}

