body{overflow:hidden;background:#000513;color:#888;font-family:'Trebuchet MS',Helvetica,sans-serif;margin:0}
span{display:inline-block}
p{margin:0}
a{color:#333;cursor:pointer}
a:hover{text-decoration:none}
tt{font-family:'Trebuchet MS',Helvetica,sans-serif}
input{font-family:'Trebuchet MS',Helvetica,sans-serif;font-size:15px;background:#222;color:#fff;border:1px inset #334444;padding:2px;width:500px}
button:hover{background-color:#08a;color:#fff;border-color:#8ae}
button:active{background:#088 url(twf.png) repeat-x 13px 0}
button{background:#ccccd0 url("twf.png") repeat-x scroll 0 -4px;
  cursor:pointer;display:inline-block;color:#222230;font-size:11px;text-align:center;margin:5px;padding:5px 6px;border:1px solid #888}
button.selected{background:#bbbbc0 url(wf.png) repeat-x 0 17px;border-color:#445}
h1{text-shadow: 1px 1px 1px #88a;color:#ccc}
#playlist-control{position:absolute;top:5px;left:5px;margin:0;z-index:50;font-size:16px}

.splash-container{background:#1d2030;margin-left:8px;width:200px;text-align:center}

.track{width:0;white-space:normal;position:relative;display:inline-block;margin:0 0 0 0;text-align:center;height:12em;color:#ccc;vertical-align:top;background:#1d2030;padding:0.5em 0 0.1em;overflow:hidden}
.track img{width:12em}
.track a{display:block}

#timeline{vertical-align:top;z-index:18;white-space:nowrap;overflow-x:hidden;width:100%}
#timeline .removal{position:absolute;top:0;left:0;height:40px;width:203px;font-size:24px;color:#aaa;background:#333;padding-top:12px;z-index:75}
#timeline .removal:hover{color:#fff;background:#000}
#timeline a{color:#ccc}
#timeline object{visibility:hidden;position:absolute;top:-1000px;left:-1000px}
#valign{display:inline-block;vertical-align:middle;width:0;height:200px}

.main-app{display:block;width:100%}

#query:focus{background:white}
#filter{position:fixed;padding:0px;width:100%;bottom:0px;left:0px;}

#splash{text-align:center;z-index:20;overflow:auto;height:100%}
#splash > div{text-align:left;margin:20px;display:inline-block;font-size:14px;color:#444455;z-index:15;-moz-border-radius:3px;-webkit-border-radius:3px;background:#AAAAAe;padding:10px 15px 20px 25px}
#splash a { color: #33a;font-size:11px;text-decoration:none}
#splash h2{margin:5px;padding:0;color:#028;margin-left:-2px}
#splash button{margin-top:9px;display:inline-block;margin-left:0}
#splash p{font-size:18px;color:#fff;font-weight:bold;max-width:500px;margin:0.25em}
#splash .track{cursor:pointer;width:auto}
#splash .track p{font-size:12px;font-weight:normal;display:block}

.main-app{display:none}

#video-list {display:inline-block}
.result{background:#1d2030;display:inline-block;width:130px;text-align:center;padding:5px 3px 3px 3px;margin:4px;vertical-align:top;position:relative}
.result img{width:100px;height:75px}
.result .hover{display:none;position:absolute;top:0;left:0;width:100%;opacity:0.8}
.result .hover a{display:block;height:32px;font-size:20px;background:#11111c url('twf.png') repeat-x 0 -6px;margin-bottom:3px;color:#ccc;padding-top:6px;text-decoration:none}
.result .hover a:hover{color:#fff;background-color:#33333f}

.result p{border-top:1px solid #666676;padding:4px 2px;margin:1px;font-size:11px;color:#888897;height:30px;overflow:hidden;vertical-align:top;display:block;text-align:left;}

#scale{margin-left:40%;vertical-align:middle;font-size:85%}
#control{display:inline-block;position:relative;z-index:40;height:12em}
#now{width:8px;background:lime;height:12.6em;z-index:45;display:inline-block;vertical-align:bottom;position:absolute}

#punch{color:white;font-size:24px}

div#history{display:none}
#players{position:absolute;top:-1000px;left:-1000px}
#zoom{position:absolute;right:0;top:0;height:200px;background:#55a;width:20px;z-index:50}

#tools{background:#aaa;z-index:45;width:100%}
#search-results{width:160px}
#playlist-container{float:right}

.coy-button{border-radius:2px;padding:3px 6px;cursor:pointer}
.coy-button:hover{box-shadow: 0 0 2px 2px #55c}

#normal-search{color:#fff;width:153px;vertical-align:sub}
.resize{overflow-y:auto}
